body{
  background: rgb(58,164,180);
  background: radial-gradient(circle, rgba(58,164,180,0.427608543417367) 0%, rgba(252,212,69,1) 100%);
}
.LR{
  position: absolute;
  width: 330px;
  height: 80px;
  top: calc(0%);
  right: calc(10%);
  background: white;
}
.lrd{
  text-align: center;
  padding-top: 26px;
  color: #e69900;
  font-size: 22px;
  text-shadow: 2px 2px 5px yellow;
}
.block1{
  position: absolute;
  height: 500px;
  width: 200px;
  bottom: calc(0%);
  left: calc(0%);
  border-style: dotted;
}
.fridge{
  position: absolute;
  height: 200px;
  width: 150px;
  bottom: calc(50%);
  left: calc(10%);
  border-style: solid;
  border-radius: 50px;
}
.fd{
  text-align: center;
  padding-top: 80px;
}
.block2{
  position: absolute;
  height: 150px;
  width: 600px;
  bottom: calc(0%);
  left: calc(15%);
  border-style: dotted;
}
.stove{
  text-align: center;
  padding-top: 40px;
}
.shelf{
  position: absolute;
  height: 150px;
  width: 150px;
  bottom: calc(-1%);
  left: calc(100%);
  border-style: dotted;
}
.table{
  position: absolute;
  height: 200px;
  width: 600px;
  bottom: calc(40%);
  left: calc(27%);
  border-style: dashed;
  border-radius: 20px;
}
.barstool1{
  position: absolute;
  height: 70px;
  width: 70px;
  border-style: dotted;
  border-radius: 80px;
  bottom: 230px;
  left: 40px;
}
.barstool2{
  position: absolute;
  height: 70px;
  width: 70px;
  border-style: dotted;
  border-radius: 80px;
  bottom: 230px;
  left: 150px;
}
.barstool3{
  position: absolute;
  height: 70px;
  width: 70px;
  border-style: dotted;
  border-radius: 80px;
  bottom: 230px;
  left: 260px;
}
.bd{
  padding-left: 100px;
}
.myroom{
  position: absolute;
  height: 250px;
  width: 100px;
  top: calc(20%);
  right: calc(0%);
  background: rgb(207,4,44);
  background: linear-gradient(90deg, rgba(207,4,44,0.7833508403361344) 27%, rgba(237,141,60,1) 82%, rgba(252,212,69,1) 100%);
}
.my{
  text-align: center;
  padding-top: 90px;
  color: white;
  font-size: 22px;
  text-shadow: 2px 2px 5px yellow;
}
.bathroom{
  position: absolute;
  height: 250px;
  width: 100px;
  bottom: calc(10%);
  right: calc(0%);
  background: rgb(20,50,232);
  background: linear-gradient(90deg, rgba(20,50,232,0.9122023809523809) 0%, rgba(85,151,251,0.9486169467787114) 42%, rgba(76,252,249,0.758140756302521) 100%);
}
