body{
  background: rgb(242,21,23);
  background: linear-gradient(90deg, rgba(242,21,23,0.9710259103641457) 0%, rgba(251,97,85,0.9486169467787114) 42%, rgba(252,189,76,0.758140756302521) 100%);
}
.lvd{
  color: white;
  font-size: 20px;
}
.kitchen{
  position: absolute;
  width: 100px;
  height: 250px;
  top: calc(30%);
  left: calc(0%);
  background: white;
}
.kd{
  text-align: center;
  padding-top: 100px;
  color: brown;
  font-size: 22px;
  text-shadow: 2px 2px 5px yellow;
}
.window{
  position: absolute;
  height: 100vh;
  width: 40px;
  border-style: dashed;
  top: calc(0%);
  right: calc(3%);
}
.wd{
  text-align: center;
  padding-top: 300px;
}
.bed{
  position: absolute;
  height: 500px;
  width: 460px;
  border-style: solid;
  top: calc(0%);
  right: calc(10%);
  border-radius: 20px;
}
.bd{
  text-align: center;
  padding-top: 430px;
}
.nametag{
  text-align: center;
  padding-top: 20px;
}
.pillow{
  position: absolute;
  height: 95px;
  width: 170px;
  border-style: dotted;
  top: calc(0%);
  right: calc(8%);
  border-radius: 20px;
}
.pillow2{
  position: absolute;
  height: 95px;
  width: 170px;
  border-style: dotted;
  top: calc(0%);
  right: calc(52%);
  border-radius: 20px;
}
.mirror{
  position: absolute;
  height: 50px;
  width: 500px;
  bottom: calc(0%);
  left: calc(13%);
  border-style: double;
}
.dresser{
  position: absolute;
  height: 80px;
  width: 300px;
  top: calc(0%);
  left: calc(20%);
  border-style: double;
}
.chair{
  position: absolute;
  height: 50px;
  width: 50px;
  top: calc(110%);
  left: calc(40%);
  border-style: dotted;
  border-radius: 30px;
}
.closet{
  position: absolute;
  height: 50px;
  width: 500px;
  bottom: calc(0%);
  right: calc(8%);
  border-style: dotted;
}
